.chess-board {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: 1px solid blue;
  background-color: white;
}

.dark {
  background-color: #779AAF;
}

.light {
  background-color: #D9E4E8;
}

.piece {
  width: 50px;
}
